.f { display: flex; }

.fdc { flex-direction: column; }
.fdr { flex-direction: row; }

.jcc { justify-content: center; }
.jcs { justify-content: flex-start; }
.jce { justify-content: flex-end; }
.jca { justify-content: space-around; }
.jcb { justify-content: space-between; }

.aic { align-items: center; }
.ais { align-items: flex-start; }
.aid { align-items: flex-end; }

