@mixin flex($align-item, $justify-content) {
    display: flex;
    align-items: $align-item;
    justify-content: $justify-content;
}

@mixin tablet {
    @media only screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin pc {
    @media only screen and (min-width: $pc-width) {
        @content;
    }
}
